.ti-emoticon:before{content:"\e0e6";}
.ti-emoticon-cool:before{content:"\e0e7";}
.ti-emoticon-dead:before{content:"\e0e8";}
.ti-emoticon-devil:before{content:"\e0e9";}
.ti-emoticon-excited:before{content:"\e0ea";}
.ti-emoticon-happy:before{content:"\e0eb";}
.ti-emoticon-neutral:before{content:"\e0ec";}
.ti-emoticon-poop:before{content:"\e0ed";}
.ti-emoticon-sad:before{content:"\e0ee";}
.ti-emoticon-tongue:before{content:"\e0ef";}
.ti-sticker-emoji:before{content:"\e0f0";}