# Folders
.vscode/
node_modules/
DesignTemplates/
dist/optimized-index.html

# Fonts
dist/fonts/DINNextLTW23-Bold.woff
dist/fonts/DINNextLTW23-Medium.woff
dist/fonts/DINNextLTW23-Regular.woff

# SASS
src/SCSS/assets/_wordpress.scss
src/SCSS/ui-kit/