/*======= Accordions =======*/
.accordion {
    @extend %reset;
    margin-bottom: 1.875rem;
    .accordion-item {
        /*======== Accordion List ========*/
        .accordion-title{
            font-size:1rem;
            line-height:2.2;
            cursor: pointer;
            /*======== Button Arrow || Plus ========*/
            &::before {
                font-size:0.6875rem;
                margin-#{$directionReverse}:5px;
                display: inline-block;
                @extend %fast-motion;
                vertical-align: middle;
                @if ( $page-dir == 'ltr' ) {
                    -webkit-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                } @else {
                    -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
                }
            }
        }
        /*======== Accordion ========*/
        .accordion-content {
            max-height: 0;
            overflow: hidden;
            font-size:0.875rem;
            -webkit-transition: max-height 0.7s;
            transition: max-height 0.7s;
        }
        /*==== Active Mode ====*/
        &.active {
            .accordion-title::before {
                -webkit-transform: rotate(0);
                transform: rotate(0);
            }
            .accordion-content{
                overflow: auto;
                max-height: none;
            }
        }
    }

    /*======== Torando Theme ========*/
    &.tornado-accordion {
        border:1px solid rgba(0,0,0,0.10);
        border-bottom: 0 none;
        /*======== Accordion Item ========*/
        .accordion-item {
            padding:0 1.25rem;
            background: $reverse-color;
            /*======== Accordion Title ========*/
            .accordion-title{
                margin:0 -1.25rem;
                margin-bottom: 0;
                padding:0 1.25rem;
                font-size:0.9375rem;
                line-height:2.875rem;
                border-bottom: 1px solid rgba(0,0,0,0.10);
                /*======== Button Arrow || Plus ========*/
                &::before{
                    float:$directionReverse;
                    line-height:2.875rem;
                    font-size:0.875rem;
                    -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                }
            }

            /*======== Items Divider ========*/
            &:not(:last-child){border-bottom: 1px solid rgba(0,0,0,0.10);}

            /*==== Active Mode ====*/
            &.active {
                padding-bottom: 1.25rem;
                .accordion-title {
                    background: #f9f9f9;
                    &::before{line-height:2.875rem;}
                }
                .accordion-content {margin-top: 1.25rem;}
            }
        }
    }
}