/*======== Dropdowns Animation ========*/
@-webkit-keyframes dropOpen {
    0% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
    100% {opacity: 1;-webkit-transform: none;transform: none;}
}

@keyframes dropOpen {
    0% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
    100% {opacity: 1;-webkit-transform: none;transform: none;}
}

@-webkit-keyframes dropClose {
    0% {opacity: 1;-webkit-transform: none;transform: none;}
    100% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
}

@keyframes dropClose {
    0% {opacity: 1;-webkit-transform: none;transform: none;}
    100% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
}

/*======== Other Animations ========*/
@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}
@keyframes spin {
    from {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);transform:rotate(360deg);}
}

/*======== Shaking ========*/
@-webkit-keyframes shake {
    10% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    20% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    30% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    40% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    50% {-webkit-transform: translate3d(-2px, 0, 0);transform: translate3d(-2px, 0, 0);}
    60% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    70% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    80% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    90% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    100% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}
@keyframes shake {
    10% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    20% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    30% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    40% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    50% {-webkit-transform: translate3d(-2px, 0, 0);transform: translate3d(-2px, 0, 0);}
    60% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    70% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    80% {-webkit-transform: translate3d(2px, 0, 0);transform: translate3d(2px, 0, 0);}
    90% {-webkit-transform: translate3d(-1px, 0, 0);transform: translate3d(-1px, 0, 0);}
    100% {-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
}

@-webkit-keyframes shakeVertical {
    0%,50%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,75% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
@keyframes shakeVertical {
    0%,50%,100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25%,75% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@-webkit-keyframes shakeHorizontal {
    0%,50%,100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25%,75% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

@keyframes shakeHorizontal {
    0%,50%,100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    25%,75% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
}

/*======== Fading Animations ========*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@if ( $page-dir = 'ltr' ) {
    @-webkit-keyframes fadeInEnd {
        0% {opacity: 0;-webkit-transform: translate3d(30%, 0, 0);transform: translate3d(30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
    
    @keyframes fadeInEnd {
        0% {opacity: 0;-webkit-transform: translate3d(30%, 0, 0);transform: translate3d(30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
    
    @-webkit-keyframes fadeInStart {
        0% {opacity: 0;-webkit-transform: translate3d(-30%, 0, 0);transform: translate3d(-30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
    
    @keyframes fadeInStart {
        0% {opacity: 0;-webkit-transform: translate3d(-30%, 0, 0);transform: translate3d(-30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
} @else {
    @-webkit-keyframes fadeInEnd {
        0% {opacity: 0;-webkit-transform: translate3d(-30%, 0, 0);transform: translate3d(-30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
    
    @keyframes fadeInEnd {
        0% {opacity: 0;-webkit-transform: translate3d(-30%, 0, 0);transform: translate3d(-30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
    
    @-webkit-keyframes fadeInStart {
        0% {opacity: 0;-webkit-transform: translate3d(30%, 0, 0);transform: translate3d(30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
    
    @keyframes fadeInStart {
        0% {opacity: 0;-webkit-transform: translate3d(30%, 0, 0);transform: translate3d(30%, 0, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }
}