/*======== Dropdown Lists ========*/
.dropdown {
    display: inline-block;
    position: relative;

    .dropdown-btn:not(.icon-btn)::before {
        float: $directionReverse;
        margin-#{$direction}: 5px;
        font-size:0.9em;
        line-height: inherit;
    }

    .dropdown-list {
        @extend %reset;
        position: absolute;
        top:100%;
        #{$direction}:0;
        -webkit-animation: dropClose 0.5s both;
                animation: dropClose 0.5s both;
        visibility: hidden;
        background: #FFF;
        width:200px;
        border:1px solid rgba(0, 0, 0, .10);
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
                box-shadow: 0 5px 5px rgba(0, 0, 0, .10);
        //==== Dropdown Arrow ====//
        &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            #{$direction}:12px;
            border: 7px solid transparent;
            border-bottom-color: #FFF;
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            margin-bottom: 1px;
            #{$direction}:12px;
            border: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, .20);
        }
        //==== List item ====//
        li {
            font-size:14px;
            font-weight: $medium-weight;
            padding:10px 15px;
            border-bottom:1px solid rgba(0, 0, 0, .10);
            &:last-child { border-bottom: 0 none; }
            
        }

        a:not(.btn) {
            @extend %fast-motion;
            color:$gray-color; 
            &:hover{color:$primary-color;}
        }

        //==== Contact List Theme ====//
        &.contact-us {
            text-align: center;
            width:290px;
            h3 { font-size:1rem; }
            li {
                font-size: 15px;
                &:before{font-size: 25px;display: block;padding: 10px 15px;padding-bottom: 5px;}
                &.ti-mail {
                    color: $primary-color;
                    a {color: $primary-color;}
                }

                &.ti-whatsapp {
                    color: $whatsapp-color;
                    a {color: $whatsapp-color;}
                }
            }
            .title{display: block;}
            a:before,a.ti-mail:before,a.ti-phone:before {display: none;}
            p { font-size:14px;color:$gray-color; }

        }
        //==== Cart List Theme ====//
        &.cart-list {
            .info-item {color:$gray-color;}
            width:320px;
            .btns-item {
                @extend %flexbox;
                @extend .align-center-y ;
                .btn {
                    width: calc(50% - 10px);
                    margin: 0 5px;
                }
            }

            .cart-item {
                @extend %flexbox;
                @extend .align-center-y ;
                padding:15px;
                border-bottom: 1px solid rgba(0, 0, 0, .10);
                position: relative;
                background:#FFF;

                .image {
                    width: 65px;
                }
                
                .info { 
                    width:calc(100% - 65px);
                    padding-#{$direction}:15px;
                    
                    h3 {
                        font-size:15px;
                        font-weight: normal;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    h4 {
                        font-size:14px;
                        line-height: 30px;
                        font-weight: normal;
                        margin: 8px 0;
                        display: inline-block;
                        input {
                            border: 1px solid rgba(0, 0, 0, .10);
                            width:50px;
                            padding:0 5px;
                            height:30px;
                            margin: 0 5px;
                        }
                    }
                    
                    .price {
                        float: $directionReverse;
                        font-size: 14px;
                        color: $primary-color;
                        margin-top: 10px;
                    }
                 }
                 
                .remove-item {
                    position: absolute;
                    #{$directionReverse}: 15px;
                    bottom: 5px;
                    color: $danger-color;
                    font-size: 12px;
                }
            }
        }
    }

    /*======== Show the Dropdown ========*/
    &.active,&[data-event="hover"]:hover{
        z-index: 999;
        .dropdown-list {
            -webkit-animation: dropOpen 0.5s both;
                    animation: dropOpen 0.5s both;
            visibility: visible;
        }
    }

    /*======== Animation ========*/
    @-webkit-keyframes dropOpen {
        0% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }

    @keyframes dropOpen {
        0% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
        100% {opacity: 1;-webkit-transform: none;transform: none;}
    }

    @-webkit-keyframes dropClose {
        0% {opacity: 1;-webkit-transform: none;transform: none;}
        100% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
    }

    @keyframes dropClose {
        0% {opacity: 1;-webkit-transform: none;transform: none;}
        100% {opacity: 0;-webkit-transform: translate3d(0, 10%, 0);transform: translate3d(0, 10%, 0);}
    }
}