/*==== Carousel =====*/
.tornado-slider {
    @extend %reset;
    position: relative;
    width: 100%;
    overflow: hidden;
    /*==== Slider Track ====*/
    .slider-track {
        position: relative;
        -webkit-transition-property: all;
        transition-property: all;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        // width: 100%;
        overflow: hidden;
        @extend %flexbox;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        @extend %reset;
        // &:after { @extend %clear-after; }
        /*==== Slide Item ====*/
        .slide-item {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            will-change: transform
        }
    }
}

/*==== Tornado Theme ====*/
.gallery-slider,.slider-component {
    position: relative;
    /*==== Arrows Buttons Theme ====*/
    .prev-button,.next-button {
        position: absolute;
        top:50%;
        width:45px;
        height: 45px;
        cursor: pointer;
        border-radius: 50%;
        font-size:15px;
        line-height: 41px;
        background: $primary-color;
        border:2px solid $primary-color;
        color:$reverse-color;
        @extend %fast-motion;
        text-align: center;
        &:hover { background: $reverse-color;color:$primary-color; }
        @extend %position-center-y;
        z-index: 99;
    }
    .prev-button{ left:30px; }
    .next-button{ right:30px; }
}

.slider-component,.gallery-thumbnails,.vertical-slider {
    position: relative;
    .slider-pagination {
        position: absolute;
        left:50%;
        bottom:25px;
        text-align: center;
        word-spacing: -5px;
        @extend %position-center-x;
        li {
            width:12px;
            height: 12px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            *{opacity: 0;}
            display: inline-block;
            margin: 5px;
            background: rgba(3,3,3,0.3);
            @extend %fast-motion;
            vertical-align: middle;
            &.slick-active{ background: $primary-color; }
        }
    }
}

.gallery-slider {
    margin-bottom: 20px;
}

.gallery-thumbnails {
    margin-bottom: 30px;
    .slider-pagination{
        left:15px;
        right:15px;
        -webkit-transform: translate(0);
                transform: translate(0);
        bottom: -30px;
        text-align: start;
    }
}

.vertical-slider {
    position: relative;
    padding-bottom: 30px;
    .item {margin-bottom: 30px;}
    .slider-pagination{
        left:15px;
        right:15px;
        -webkit-transform: translate(0);
                transform: translate(0);
        bottom: 0;
        line-height: 40px;
        background: #f7f7f7;
    }
    /*==== Arrows Buttons Theme ====*/
    .prev-button.next-button {
        position: absolute;
        bottom:0;
        width:45px;
        height: 40px;
        cursor: pointer;
        font-size:15px;
        line-height: 36px;
        background: $primary-color;
        border:2px solid $primary-color;
        color:$reverse-color;
        @extend %fast-motion;
        text-align: center;
        &:hover { background: $reverse-color;color:$primary-color; }
        z-index: 99;
    }
    .slick-prev{ left:0; }
    .next-button{ right:0; }
}