/*======= Tabs Settings =======*/
.tab-content{display: none;}
.tab-content.active{display: block;}
.tabs-menu{@extend %reset;}
/*======= Tabs Defaultt Theme =======*/
.tabs {
    /*======== Tabs Menu ========*/
    .tabs-menu {
        word-spacing: -5px;
        li{
            word-spacing: normal;
            display: inline-block;
            padding:0 1.875rem;
            font-size: 0.9375rem;
            line-height: 2.625rem;
            font-weight: $medium-weight;
            color:$gray-color;
            cursor: pointer;
            @extend %fast-motion;
            a{color:inherit;}
            &:hover,&.active {
                background:#eaebec;
                color:$dark-color;
            }
        }
    }

    /*======== Tabs Content ========*/
    .tab-content {
        padding:1.563rem;
        margin-bottom: 1.875rem;
    }
    
}

/*======= Tabs Dialog Theme =======*/
.dialog-tabs {
    /*======== Tabs Menu ========*/
    .tabs-menu {
        border: 1px solid rgba(0,0,0,.10);
        background:#f8f8f8;
        li{
            color:$gray-color;
            border-#{$directionReverse}:1px solid rgba(0,0,0,.10);
            /*======== Active Mode ========*/
            &:hover,&.active {
                background: #FFF;
                color: $dark-color;
            }
        }
    }

    /*======== Tabs Content ========*/
    .tab-content {
        border:1px solid rgba(0,0,0,.10);
        border-top:0 none;
        background: #FFF;
    }
    
}

/*======= Tabs Tabular Theme =======*/
.tabular-tabs {
    /*======== Tabs Menu ========*/
    .tabs-menu {
        li{
            color:$gray-color;
            position: relative;
            top:2px;
            &.active {
                border:1px solid rgba(0,0,0,.10);
                background: #fcfcfc;
                color: $dark-color;
                border-bottom: 0 none;
            }
        }
    }

    /*======== Tabs Content ========*/
    .tab-content {
        border:1px solid rgba(0,0,0,.10);
        background: #fcfcfc;
    }
}

/*======= Tabs Lined Theme =======*/
.lined-tabs {
    /*======== Tabs Menu ========*/
    .tabs-menu {
        border-bottom: 1px solid rgba(0,0,0,.10);
        li{
            padding:0 1.25rem;
            color:$gray-color;
            position: relative;
            &::after{
                position: absolute;
                content:'';
                bottom:-2px;
                #{$direction}:0;
                height: 3px;
                @extend %fast-motion;
                background: $dark-color;
                display: block;
            }
            /*======== Active Mode ========*/
            &.active {
                color: $dark-color;
                background: transparent;
                &::after{#{$directionReverse}:0;}
            }
        }
    }
}