/*======== Tables CSS ========*/
.table {
    width:100%;
    border-collapse: separate;
    border-spacing: 0;
    thead {
        td,th{font-weight: $medium-weight;}
    }

    tr{
        td,th{
            padding:0.625rem 0;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.10);
            text-align: inherit;
        }
    }
    
    /*==== Striped Table ====*/
    &.striped{
        td,th {
            padding:0.75rem 1.25rem;
            border-bottom: 0 none;
        }
        tbody tr:not([class*="-bg"]):nth-child(odd) {
            td:not([class*="-bg"]),th:not([class*="-bg"]) {background:rgba(0,0,0,.03);}
        }
    }

    /*==== Bordered Table ====*/
    &.bordered {
        border: 1px solid rgba(0, 0, 0, .10);
        td,th {
            padding:0.75rem 1.25rem;
            border: 1px solid rgba(0, 0, 0, .10);
        }

        thead:not([class*="-bg"]) {
            td:not([class*="-bg"]),th:not([class*="-bg"]) {
                font-weight: $medium-weight;
                background:rgba(0,0,0,.03);
            }
        }
        
        &.striped thead tr:not([class*="-bg"]):nth-child(odd) {
            td:not([class*="-bg"]),th:not([class*="-bg"]) {background:inherit;}
        }
    }

    
}

.responsive-table,.responsive-sm-table{
    overflow: auto;
    margin-bottom: $gutterSize;
}

@include medium(false) { 
    .responsive-table .table{width:970px;}
}

@include small(false) { 
    .responsive-sm-table .table{width:768px;}
}