.alert{
    position: relative;
    padding:15px 20px;
    background:$gray-bg;
    color:$black-color;
    font-size:15px;
    margin-bottom: $gutterSize/2;
    /* Alert Text Reset */
    p {margin: 0;padding: 0;} 
    /* Dismissal Button Style */
    .remove-item {
        position: absolute;
        #{$directionReverse}:0;
        top:0;
        width:50px;
        height: 50px;
        line-height: 50px;
        color:rgba(0,0,0,.30);
        font-size:15px;
        text-align: center;
        background: inherit;
        border: 0 none;
        cursor: pointer;
    } 
    /* Dark background style */
    &.dark {background:$dark-bg;color:$light-color;
        /* Dismissal Button Style Reverse */
        .remove-item {color:$light-color;} 
    } 
    /* Success background Style */
    &.success {background:$success-bg;} 
    /* Danger and Error background Style */
    &.danger {background:$danger-bg;} 
    /* Warning background Style */
    &.warning {background:$warning-bg;}
    /* information background style */
    &.info {background:$info-bg;}
}