/*=== Default Clean Buttons ===*/
.btns-group {
    @extend %flexbox;
    &.gutter-on {
        margin-right: -10px;
        margin-left: -10px;
        .btn {margin:7.5px 10px;}
    }
}

.btn {
    display: inline-block;
    padding:0 25px;
    height:42px;
    line-height: 40px;
    font-size: 14px;
    color:$dark-color;
    cursor: pointer;
    background:#f7f7f7;
    @extend %normal-motion;
    text-align: center;
    font-weight:$medium-weight;
    border:0 none;
    .badge {
        margin-top: -3px;
        margin-#{$direction}:10px;
        &[class*="float-"] {margin:7px 0;}
    }
    &.round-corner { border-radius: 5px; }
    &.outline{ 
        background: transparent;
        color:$dark-color;
        border:1px solid $dark-bg;
        line-height: 38px;
    }
    //===== Buttons Sizes ====//
    &.tiny {
        font-size: 12px;
        padding: 0 15px;
        height: 27px;
        line-height: 25px;
        &.outline{line-height: 25px;border-width:1px;}
    }
    &.small {
        font-size: 13px;
        padding: 0 20px;
        height: 36px;
        line-height: 34px;
        &.outline{line-height: 34px;border-width:1px;}
    }
    &.large {
        font-size: 16px;
        padding: 0 30px;
        height:50px;
        line-height: 47px;
        &.outline{line-height: 48px;border-width:3px;}
    }
    //==== Coloring Buttons ====//
    &.primary{
        background: $primary-color;color:$reverse-color;
        &:hover{background:$primary-color-hover;}
        &.outline {
            background: transparent;
            border-color: $primary-color;
            color:$primary-color;
            &:hover{background:$primary-color;color:$reverse-color;}
        }
    }

    &.secondary{
        background: $secondary-color;color:$reverse-color;
        &:hover{background:$secondary-color-hover;}
        &.outline {
            background: transparent;
            border-color: $secondary-color;
            color:$secondary-color;
            &:hover{background:$secondary-color;color:$reverse-color;}
        }
    }

    &.success{
        background: $success-color;color:$reverse-color;
        &:hover{background:darken( $success-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $success-color;
            color:$success-color;
            &:hover{background:$success-color;color:$reverse-color;}
        }
    }

    &.danger{
        background: $danger-color;color:$reverse-color;
        &:hover{background:darken( $danger-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $danger-color;
            color:$danger-color;
            &:hover{background:$danger-color;color:$reverse-color;}
        }
    }

    &.warning{
        background: $warning-color;color:$dark-color;
        &:hover{background:darken( $warning-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $warning-color;
            color:$warning-color;
            &:hover{background:$warning-color;color:$dark-color;}
        }
    }

    &.info{
        background: $info-color;color:$reverse-color;
        &:hover{background:darken( $info-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $info-color;
            color:$info-color;
            &:hover{background:$info-color;color:$reverse-color;}
        }
    }

    &.gray{
        background: $gray-color;color:$reverse-color;
        &:hover{background:darken( $gray-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $gray-color;
            color:$gray-color;
            &:hover{background:$gray-color;color:$reverse-color;}
        }
    }
    
    &.dark{
        background: $dark-color;color:$reverse-color;
        &:hover{background:darken( $dark-color, 05% );}
        &.outline {
            background: transparent;
            border-color: $dark-color;
            color:$dark-color;
            &:hover{background:$dark-color;color:$reverse-color;}
        }
    }

    &.rounded{border-radius:100px;}
    
    &.circle{
        border-radius:50%;
        width:42px;
        padding:0;
        &.tiny{width: 27px;padding:0;}
        &.small{width: 36px;padding:0;}
        &.large{width:50px;padding:0;}
    }
}