/*===== Navigation Menu =====*/
@mixin navigation-main() {
    .navigation-menu {
        //=== Menu Wraper ===//
        position: relative;
        @extend %fast-motion;
        @include medium(false) { display: none; }
        &.collapsed { display: none; }
        //=== Menu Main CSS ===//
        > ul {
            word-spacing: -5px;
            @extend %reset;
            //=== Transition ===//
            li {
                @extend %fast-motion;
                a { @extend %fast-motion; }
            }
            
            //== item ==//
            > li {
                word-spacing: normal;
                display: inline-block;
                position: relative;
                //== Submenu Item Arrow ==//
                .submenu:before {
                    float:$directionReverse;
                    margin-#{$direction}:5px;
                    position:relative;
                    line-height:inherit;
                    @extend %fast-motion;
                }
                //=== Nested List ===//
                > ul {
                    @extend %reset;
                    display: none;
                    position: absolute;
                    top:100%;
                    #{$direction}:0;
                    > li {
                        position: relative;
                        ul {
                            @extend %reset;
                            display: none;
                            position: absolute;
                            top: 0;
                            #{$direction}: 100%;
                        }
                        //=== Fixing Last Item Overflow
                        &:last-child {
                            > ul {
                                #{$direction}:auto;
                                #{$directionReverse}:0;
                                li ul {
                                    #{$direction}:auto;
                                    #{$directionReverse}:100%;
                                }
                            }
                        }
                    }
                }
            }
    
            //==== Hover Dropdown ====//
            @include large(true) {
                li:hover > ul {
                    display: block;
                    width:220px;
                }
            }
        }
    }
    
    //=== Menu Button Mode ===//
    .menu-btn[data-id] { 
        @include medium(true) { &:not(.collapsed) { display: none; }  }
    }
}

/*======= Custome Theme ========*/
@mixin navigation-custom-theme(
    $height,
    $font-size,
    $font-weight,
    $color,
    $hvr-color,
    $hvr-bg,
    $sub-color,
    $sub-bg,
    $sub-font-size,
    $sub-height,
    $sub-hvr-bg,
    $sub-hvr-color
    ) {
    .navigation-menu {
        //=== Menu Theme ===//
        > ul {
            //=== Item ===//
            > li {
                font-size:$font-size;
                font-weight: $font-weight;
                color:$color;
                padding: 0 15px;
                line-height: $height;
                //== Submenu Item Arrow ==//
                .submenu:before { 
                    font-size:0.7em;
                }
                //=== List item Link ===//
                > a {
                    color:$color;
                    font-weight: $font-weight;
                    text-transform: uppercase;
                    font-family: $primary-font;
                }
                
                &:hover,&.active { 
                    color:$hvr-color;
                    background:$hvr-bg;
                    > a {color:$hvr-color;}
                 }
                //=== Nested List ===//
                > ul {
                    background: $sub-bg;
                    ul { background: $sub-bg; }
                }
            }
        }
        
        //==== Submenus Theme ====//
        @include large(true) {
            li:hover > ul{
                border:1px solid rgba(0,0,0,.15);
                li {
                    font-size:$sub-font-size;
                    line-height:$sub-height;
                    border-bottom:1px solid rgba(0,0,0,.15);
                    color:$sub-color;
                    padding:0 15px;
                    font-weight:normal;
                    a {color:$sub-color;}
                    &:hover,&.active {
                        background:$sub-hvr-bg;
                        > a { color:$sub-hvr-color; }
                    }
                }
            }
        }
    }
}
