/*======== Global ========*/
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: $base-s-size;
    line-height: $base-line-height;
    /*=== Medium Screen ===*/
    @include medium(true){
        font-size: $base-m-size;
        line-height: $base-line-height;
    }
    /*=== Large Screen ===*/
    @include large(true) {
        font-size: $base-l-size;
        line-height: $base-line-height;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
    direction: $page-dir;
    background: #FFF;
    color: $dark-color;
    position: relative;
}

.no-padding {padding: 0;}

.fluid,.block-lvl {
    width: 100%;
}

.float-start {float: $direction;}
.float-end {float: $directionReverse;}

iframe {
    max-width: 100%;
    border: 0 none;
}

[data-src] {
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}


.success-border{border-color:$success-color;}
.danger-border{border-color:$danger-color;}
.warning-border{border-color:$warning-color;}
.primary-border{border-color:$primary-color;}
.secondary-border{border-color:$secondary-color;}
hr {
    height: 1px;
    opacity: 0.1;
    border: 0 none;
    background: #000;
    margin: 15px 0;
}

%nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.clear-after::after,.clear-fix {
    content: '';
    display: block;
    clear: both;
}