/*==== Carousel =====*/
.glide {
    position: relative;
    width: 100%;
}

.glide-track {
    overflow: hidden;
}

.glide-slides {
    position: relative;
    width: 100%;
    list-style: none;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -ms-touch-action: pan-Y;
        touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    will-change: transform;
}

.glide-slides-dragging {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.glide-slide {
    width: 100%;
    height: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    white-space: normal;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    a {
        -webkit-user-select: none;
                user-select: none;
        -webkit-user-drag: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
}

.glide-arrows {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.glide-bullets {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.glide-rtl {
    direction: rtl;
}

/*==== Tornado Theme ====*/
.gallery-slider,.slider-component {
    position: relative;
    /*==== Arrows Buttons Theme ====*/
    .slick-prev,.slick-next {
        position: absolute;
        top:50%;
        width:45px;
        height: 45px;
        cursor: pointer;
        border-radius: 50%;
        font-size:15px;
        line-height: 41px;
        background: $primary-color;
        border:2px solid $primary-color;
        color:$reverse-color;
        @extend %fast-motion;
        text-align: center;
        &:hover { background: $reverse-color;color:$primary-color; }
        @extend %position-center-y;
        z-index: 99;
    }
    .slick-prev{ left:30px; }
    .slick-next{ right:30px; }
}

.slider-component,.gallery-thumbnails,.vertical-slider {
    position: relative;
    .slick-dots{
        position: absolute;
        left:50%;
        bottom:25px;
        text-align: center;
        word-spacing: -5px;
        @extend %position-center-x;
        li {
            width:12px;
            height: 12px;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
            *{opacity: 0;}
            display: inline-block;
            margin: 5px;
            background: rgba(3,3,3,0.3);
            @extend %fast-motion;
            vertical-align: middle;
            &.slick-active{ background: $primary-color; }
        }
    }
}

.gallery-slider {
    margin-bottom: 20px;
}

.gallery-thumbnails {
    margin-bottom: 30px;
    .slick-dots{
        left:15px;
        right:15px;
        -webkit-transform: translate(0);
                transform: translate(0);
        bottom: -30px;
        text-align: start;
    }
}

.vertical-slider {
    position: relative;
    padding-bottom: 30px;
    .item {margin-bottom: 30px;}
    .slick-dots{
        left:15px;
        right:15px;
        -webkit-transform: translate(0);
                transform: translate(0);
        bottom: 0;
        line-height: 40px;
        background: #f7f7f7;
    }
    /*==== Arrows Buttons Theme ====*/
    .slick-prev,.slick-next {
        position: absolute;
        bottom:0;
        width:45px;
        height: 40px;
        cursor: pointer;
        font-size:15px;
        line-height: 36px;
        background: $primary-color;
        border:2px solid $primary-color;
        color:$reverse-color;
        @extend %fast-motion;
        text-align: center;
        &:hover { background: $reverse-color;color:$primary-color; }
        z-index: 99;
    }
    .slick-prev{ left:0; }
    .slick-next{ right:0; }
}