.custom-scrollbar {
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
    /*======== Reset Chrome Scrollbar ========*/
    &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
    /*======== Pointer Holder ========*/
    &::before {
        position: absolute;
        top: 0;
        bottom: 0;
        #{$direction}:0;
        width:10px;
        background: rgba(0,0,0,.50);
    }
    /*======== Scrollbar Pointer ========*/
    .scroll-pointer {
        width:10px;
        background:$primary-color;
    }
}