/*======== Global ========*/
body {
    margin: 0;
    padding: 0;
    direction: $page-dir;
    background: #FFF;
    position: relative;
}

.no-padding {padding: 0;}

.fluid,.block-lvl {
    width: 100%;
}

.float-start {
    float: $direction;
}

.float-end {
    float: $directionReverse;
}

iframe {
    max-width: 100%;
    border: 0 none;
}

hr {
    height: 1px;
    opacity: 0.1;
    border: 0 none;
    background: #000;
    margin: 15px 0;
}

.clear-after::after,.clear-fix {
    content: '';
    display: block;
    clear: both;
}

/*======== Tooltips ========*/
[class*="tooltip"] {
    position: relative;
    &::after {
        content: attr(data-title);
        position: absolute;
        font-size:12px;
        line-height: 27px;
        @extend %nowrap;
        background:rgba(0,0,0,0.75);
        color:#FFF;
        padding:0 15px;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        @extend %fast-motion;
    }
    
    &:hover::after {
        visibility: visible;
        opacity: 1;
    }

    /*==== Pointing Arrow ====*/
    &:not([class*="ti-"]) {
        &::before {
            content: '';
            position: absolute;
            width:0;
            height: 0;
            border:5px solid transparent;
            visibility: hidden;
            opacity: 0;
            @extend %fast-motion;
        }

        &:hover::before {
            visibility: visible;
            opacity: 1;
        }
    }
}

/*==== Default Tooltip ====*/
.tooltip {
    &::after {
        left:50%;
        bottom: 100%;
        @extend %position-center-x;
        max-width:300px;
    }
    /*==== Pointing Arrow ====*/
    &:not([class*="ti-"]) {
        &::after {margin-bottom: 5px;}
        &::before {
            margin-bottom: -5px;
            left:50%;
            bottom: 100%;
            @extend %position-center-x;
            border-top-color: rgba(0,0,0,0.75);
        }
    }
}

/*==== Bottom Tooltip ====*/
.tooltip-bottom {
    &::after {
        left:50%;
        top: 100%;
        @extend %position-center-x;
        max-width:300px;
    }
    /*==== Pointing Arrow ====*/
    &:not([class*="ti-"]) {
        &::after {margin-top: 5px;}
        &::before {
            margin-top: -5px;
            left:50%;
            top: 100%;
            @extend %position-center-x;
            border-bottom-color: rgba(0,0,0,0.75);
        }
    }
}

/*==== Start Tooltip ====*/
.tooltip-start {
    &::after {
        #{$directionReverse}:100%;
        top: 50%;
        @extend %position-center-y;
        max-width:300px;
    }
    /*==== Pointing Arrow ====*/
    &:not([class*="ti-"]) {
        &::after {margin-#{$directionReverse}: 5px;}
        &::before {
            margin-#{$directionReverse}: -5px;
            #{$directionReverse}:100%;
            top: 50%;
            @extend %position-center-y;
            border-#{$direction}-color: rgba(0,0,0,0.75);
        }
    }
}

/*==== End Tooltip ====*/
.tooltip-end {
    &::after {
        #{$direction}:100%;
        top: 50%;
        @extend %position-center-y;
        max-width:300px;
    }
    /*==== Pointing Arrow ====*/
    &:not([class*="ti-"]) {
        &::after {margin-#{$direction}: 5px;}
        &::before {
            margin-#{$direction}: -5px;
            #{$direction}:100%;
            top: 50%;
            @extend %position-center-y;
            border-#{$directionReverse}-color: rgba(0,0,0,0.75);
        }
    }
}

.tooltip-responsive::not([class*="ti-"])::before{display: none;}

/*======== Responsive Elements ========*/
.responsive-element {
    display: block;
    position: relative;
    padding-bottom: 75%; //====> Standard Monitor 4:3 Aspect Ratio
    &.square-size{padding-bottom: 100%;}
    &.hd-size {padding-bottom: 56.25%;} //====> HD 16:9 Aspect Ratio
    &.classic-size {padding-bottom: 66.64%;} //====> Classic Film 3:2 Aspect Ratio
    &.cinema-size {padding-bottom: 42.81%;} //====> Cinemascope 21:9 Aspect Ratio
    /*==== Content Elements ====*/
    &>iframe, &>video, &>.element-content {
        display: block;
        position: absolute;
        top:0;
        #{$direction}: 0;
        width:100%;
        height: 100%;
    }

    &> video {-o-object-fit: fill;object-fit: fill;}
}

[data-src] {
    display: block;
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
}

.is-sticky{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}