/*==== File Uploade Input ====*/
.file-input{
    position:relative;
    @extend .form-control;
    line-height: 42px;
    &.tiny {line-height: 25px;}
    &.small {line-height: 34px;}
    &.large {line-height: 50px;}
    // Text 
    &::before {content:attr(data-text);}
    // Button
    &::after {
        content:attr(data-btn);
        position: absolute;
        #{$directionReverse}:0;
        top:0;
        height: 100%;
        background: $secondary-color;
        color:#FFF;
        padding:0 25px;
    }
    // Upload Input
    input[type="file"] {
        position:absolute;
        opacity:0;
        cursor:pointer;
        margin:0;
        top:0;
        $direction:0;
        width:100%;
        height: 100%;
        z-index:1;
    }
}