/*==== Standard Form ====*/
button,input,optgroup,select,textarea {
    font-family: $secondary-font;
    font-size: 0.875rem;
    line-height: 1.15;
    margin: 0;
}

/*=== Default Clean Buttons ===*/
.btn{
    display: inline-block;
    padding:12px 30px;
    font-size: 14px;
    border: 1px solid rgba(0,0,0,.10);
    color:$dark-color;
    cursor: pointer;
    background:#FFF;
    @extend %normal-motion;
    &:hover{background: #f7f7f7;}
    //===== Buttons Sizes ====//
    &.tiny{font-size: 11px;padding:10px 20px;}
    &.small{font-size:13px;padding:10px 30px;}
    &.large{font-size:16px;padding:13px 30px;}
    //==== Coloring Buttons ====//
    &.primary{
        background: $primary-color;color:$reverse-color;border: 0 none;
        &:hover{background:$primary-color-hover;}
    }

    &.secondary{
        background: $secondary-color;color:$reverse-color;border: 0 none;
        &:hover{background:$secondary-color-hover;}
    }

    &.success{
        background: $success-color;color:$reverse-color;border: 0 none;
        &:hover{background:darken( $success-color, 05% );}
    }

    &.danger{
        background: $danger-color;color:$reverse-color;border: 0 none;
        &:hover{background:darken( $danger-color, 05% );}
    }

    &.warning{
        background: $warning-color;color:$reverse-color;border: 0 none;
        &:hover{background:darken( $warning-color, 05% );}
    }

    &.info{
        background: $info-color;color:$reverse-color;border: 0 none;
        &:hover{background:darken( $info-color, 05% );}
    }

    &.gray{
        background: $gray-color;color:$reverse-color-dark;
        &:hover{background:darken( $gray-color, 05% );}
    }
    
    &.dark{
        background: $dark-color;color:$reverse-color;border: 0 none;
        &:hover{background:darken( $dark-color, 05% );}
    }
}