//==== Mobile Menu =====//
.mobile-menu {
    position:fixed;
    top:0;
    left: 0;
    width:100vw;
    height:100vh;
    z-index:999999;
    visibility: hidden;
    /*======== Theme Assets ========*/
    $menuWidth : 280px; //====> Menu Width
    $menuBackground : $reverse-color; //====> Menu Background
    $itemPadding : 1.25rem; //====> Menu Item Padding
    $itemActiveBg : $primary-color;
    $itemActiveColor : $reverse-color;
    $SubBg : #f1f1f1;
    $SubColor : $dark-color;
    $dividerColor : rgba(0, 0, 0, .10); //====> Menu Item Border Color
    $iconSize : 1.25rem; //====> Menu Item Icons Font Size

    /*======== Overlay ========*/
    .overlay-close {
        position:fixed;
        display:block;
        top:0;
        left:0;
        background:rgba(0,0,0,.80);
        width:100%;
        height:100%;
        @extend %fast-motion;
        z-index: -1;
        opacity: 0;
    }
    
    /*======== Menu Wrapper ========*/
    .menu-content {
        position: relative;
        width:$menuWidth;
        height:100vh;
        background:$menuBackground;
        overflow-x:hidden;
        overflow-y:visible;
        @extend %fast-motion;
        z-index:2;
        margin: 0;
        margin-#{$direction}:-$menuWidth;
    }

    /*======== Menu Logo ========*/
    .logo {
        display: block;
        width:100%;
        line-height: 100px;
        height: 100px;
        text-align: center;
        border-bottom: 1px solid $dividerColor;
        img {
            max-width: 80%;
            max-height: 75px;
        }
    }
    
    //==== Activated Effects =====//
    &.active{
        visibility:visible;
        .overlay-close {opacity: 1;}
        .menu-content{margin-#{$direction}:0;}
    }

    /*======== Menu Theme ========*/
    ul {
        @extend %reset;
        //======== Menu Icons ========//
        [class*="ti-"]:not(.dropdown-toggle)::before {
            display: inline-block;
            vertical-align: middle;
            width:2.5rem;
            text-align: center;
            margin-#{$direction}:-#{$itemPadding};
            font-size:$iconSize;
        }
        /*======== Menu Items ========*/
        li{
            position: relative;
            padding:$itemPadding/2 $itemPadding;
            border-bottom:1px solid $dividerColor;
            //=== List item Link ===//
            a {
                color:inherit;
                font-weight: inherit;
                font-family: inherit;
            }
            //=== Activated Item ===//
            &.opened{
                background:$itemActiveBg;
                color:$itemActiveColor;
                border-bottom-width:0;
                ul,.megamenu{
                    background:$SubBg;
                    color:$SubColor;
                    margin-top: $itemPadding/2;
                    margin-bottom: -$itemPadding/2;
                    border-top:1px solid $dividerColor;
                }
            }
        }

        //==== Nested Menus Button =====//
        .dropdown-toggle {
            position: absolute;
            width:2.813rem;
            height:2.75rem;
            font-size:12px;
            text-align: center;
            line-height: 2.625rem;
            display: block;
            cursor: pointer;
            #{$directionReverse}:0;
            top:0;
            @extend %fast-motion;
        }

        /*======== Nested Menu Core ========*/
        ul,.megamenu {
            margin-#{$direction}:-$itemPadding;
            margin-#{$directionReverse}:-$itemPadding;
            max-height: 0;
            overflow: hidden;
            @extend %fast-motion;
        }
    }
    
    //==== Overlaps Nested Theme ====//
    &.overlaps ul li {
        ul,.megamenu {
            position: absolute;
            #{$directionReverse}:-100%;
            width:90%;
            top:0;
            height: 100%;
            max-height: none;
            overflow-x:hidden;
            overflow-y:visible;
        }
        //======== Activated ========//
        &.opened {
            position: static;
            > ul,.megamenu {
                #{$direction}:0;
                z-index: 100;
                background: $menuBackground;
            }
            .dropdown-toggle {
                #{$direction}:90%;
                width:10%;
                top:0;
                height: 100%;
                background: rgba(0,0,0,.80);
                z-index: 100;
            }
        }
    }

    *[calss*="col-"],*[calss*="box-"] {width: 100% !important;}
}