.pagination {
    @extend %reset;
    word-spacing: -5px;
    li {
        word-spacing: normal;
        display: inline-block;
        padding:0 0.9375rem;
        height:2.625rem;
        line-height: 2.5rem;
        font-size: 0.9375rem;
        color:$dark-color;
        background:#f7f7f7;
        @extend %normal-motion;
        text-align: center;
        font-weight:$medium-weight;
        span,a {
            color: inherit;
            display: block;
            padding:0 0.9375rem;
            margin: 0 -0.9375rem;
        }
        border:1px solid rgba(0,0,0,0.10);
        &.current,&.active {
            background:$primary-color;
            color:$reverse-color;
            span,a{color:inherit;}
        }
    }
    /*======== Separated Theme ========*/
    &.separate {word-spacing: 10px;}
    /*======== Circles Theme ========*/
    &.circles {
        word-spacing: 10px;
        li {
            padding:0;
            width:2.625rem;
            border-radius: 50%;
        }
    }
    /*======== Fix Last Child Border ========*/
    &:not(.circles):not(.separate){
        li:not(:last-child) {border-#{$directionReverse}:0 none;}
    }
}