/*=== Navigation Menu Mobile Theme ===*/
@import 'mobile-menu';

/*======== Navigation Menu Theme Mixin ========*/
@mixin navigation-custom-theme (
    $height:null,// Height
    $font-size:null,// Font-size
    $font-weight:null,// Font Weight
    $color:null,// Text Color
    $hvr-color:null,// Hover Color
    $hvr-bg:null,// Hover Background
    // submenu
    $sub-color:null,// Submenu Color
    $sub-bg:null,// Submenu Background
    $sub-font-size:null,// Submenu Font-size
    $sub-height:null,// Submenu Height
    $sub-hvr-bg:null,// Submenu Hover Background
    $sub-hvr-color:null// Submenu Hover Color
    ) {
    //=== Menu Theme ===//
    > ul > li {
        @if ($font-size) {font-size:$font-size;}
        @if ($font-weight) { font-weight: $font-weight; }
        @if ($color) { color:$color; }
        @if ($height) { line-height: $height; }
        //==== Hover Theme ====//
        &:hover,&.active,&.current-menu-parent,&.current-menu-item{ 
            @if ($hvr-color) { color:$hvr-color; }
            @if ($hvr-bg) { background:$hvr-bg; }
        }
        //=== Nested Menus ===//
        ul {
            @if ($sub-bg) {background: $sub-bg;}
            //==== Nested Menus Items ====//
            li {
                @if ($sub-font-size) { font-size:$sub-font-size; }
                @if ($sub-height) { line-height:$sub-height; }
                @if ($sub-color) { color:$sub-color; }
                &:hover,&.active,&.current-menu-parent,&.current-menu-item{
                    @if ($sub-hvr-bg) { background:$sub-hvr-bg; }
                    @if ($sub-hvr-color) { color:$sub-hvr-color; }
                }
            }
        }
    }
}

/*======== Nested Menu's Mixin ========*/
@mixin nested-menu (
    $height:null,// Height
    $font-size:null,// Font-size
    $font-weight:null,// Font Weight
    $color:null,// Text Color
    $hvr-color:null,// Hover Color
    $hvr-bg:null,// Hover Background
    $space-size:null, // Gutter Size
    // submenu
    $sub-color:null,// Submenu Color
    $sub-bg:null,// Submenu Background
    $sub-font-size:null,// Submenu Font-size
    $sub-height:null,// Submenu Height
    $sub-hvr-bg:null,// Submenu Hover Background
    $sub-hvr-color:null // Submenu Hover Color
) {
    > ul {
        > li {
            @if ($font-size) { font-size:$font-size; }
            @if ($height) { line-height:$height; }
            @if ($color) { color:$color; }
            @if ($space-size) { padding:0 $space-size; }
            //== Submenu Item Arrow ==//
            .submenu::before{
                @if ($height) { line-height: $height; }
                font-size:0.8em;
            }
            //== Hover Theme ==//
            &:hover {
                @if ($hvr-color) {color:$hvr-color;}
                @if ($hvr-bg) {background:$hvr-bg;}
            }
            //== Nested Menus ==//
            ul {
                @if($sub-bg) {background-color:$sub-bg;}
                @if($space-size) {margin:0 -#{$space-size};}
                //== Nested Menus Items ==//
                li {
                    @if ($sub-color) {color:$sub-color;}
                    @if ($space-size) {padding:0 $space-size;}
                    @if ($sub-font-size) {font-size:$sub-font-size;}
                    @if ($sub-height) {line-height: $sub-height;}
                    //== Nested Menus Item Hover ==//
                    &:hover {
                        @if ($sub-hvr-color) {color:$sub-hvr-color;}
                        @if ($sub-hvr-bg) {background:$sub-hvr-bg;}
                    }
                }
            }
        }
    }
}

/*======== Navigation Menu ========*/
.navigation-menu {
    //=== Menu Wraper ===//
    position: relative;
    @extend %fast-motion;
    @include medium(false) { display: none; }
    &.collapsed { display: none; }
    ul { @extend %reset; }
    //=== Menu Main CSS ===//
    > ul {
        word-spacing: -5px;
        //=== Transition ===//
        li,a {@extend %fast-motion;}
        //== item ==//
        > li {
            word-spacing: normal;
            display: inline-block;
            position: relative;
            padding: 0 0.9375rem;
            //=== List item Link ===//
            a {
                color:inherit;
                font-weight: inherit;
                font-family: inherit;
            }
            //== Submenu Item Arrow ==//
            .dropdown-toggle:before {
                float:$directionReverse;
                margin-#{$direction}:5px;
                position:relative;
                line-height:inherit;
                @extend %fast-motion;
                font-size:0.7em;
            }
            //=== Nested List ===//
            > ul {
                width:220px;
                position: absolute;
                top:100%;
                border:1px solid rgba(0,0,0,.15);
                visibility: hidden;
                -webkit-animation: dropClose 0.5s both;
                    animation: dropClose 0.5s both;
                #{$direction}:0;
                li {
                    position: relative;
                    border-bottom:1px solid rgba(0,0,0,.15);
                    font-weight:normal;
                    padding:0 0.9375rem;
                    ul {
                        position: absolute;
                        top: 0;
                        #{$direction}: 100%;
                    }
                }
            }
            //=== Fixing Last Item Overflow
            &:last-child {
                > ul {
                    #{$direction}:auto;
                    #{$directionReverse}:0;
                    li ul {
                        #{$direction}:auto;
                        #{$directionReverse}:100%;
                    }
                }
            }
        }

        //==== Hover Dropdown ====//
        li:hover > ul { 
            -webkit-animation: dropOpen 0.5s both; 
                animation: dropOpen 0.5s both;
            visibility: visible;
        }
    }

    @include navigation-custom-theme (
        $height:3.375rem,// Height
        $font-size:0.9375rem,// Font-size
        $font-weight:$medium-weight,// Font Weight
        $color:$gray-color,// Text Color
        $hvr-color:$primary-color,// Hover Color
        $hvr-bg:transparent,// Hover Background
        // submenu
        $sub-color:$black-color,// Submenu Color
        $sub-bg:$reverse-color,// Submenu Background
        $sub-font-size:0.875rem,// Submenu Font-size
        $sub-height:2.5rem,// Submenu Height
        $sub-hvr-bg:$primary-color,// Submenu Hover Background
        $sub-hvr-color:$reverse-color// Submenu Hover Color
    );
}

/*=== Navigation Menu Button ===*/
.menu-btn[data-id] { 
    @media screen and (min-width:$medium-query-down+1) {
        &:not(.collapsed) { display: none; }
    }
}

/*=== Navigation Wraper ===*/
.navigation-wraper {
    /*==== Default Theme ====*/
    background: $reverse-color;
    border:1px solid rgba(0,0,0,0.10);
    padding:0 0.9375rem;
    position: relative;
    z-index: 100;
    margin-bottom: $gutterSize;
    .navigation-menu {
        > ul > li > a { text-transform: uppercase; }
    }
    .menu-btn {
        font-size:1.563rem;
        line-height: 3.625rem;
        color:$gray-color;
        display: inline-block;
        padding:0 0.625rem;
    }
    &.collapsed {
        .navigation-menu {display: none;}
        .menu-btn {display: inline-block;}
    }
    /*==== Gray Theme ====*/
    &.gray {
        background-color:$gray-bg;
        .navigation-menu {
            @include navigation-custom-theme (
                $color:darken($color: $gray-color, $amount: 20),// Text Color
                $hvr-color:$reverse-color,// Hover Color
                $hvr-bg:$gray-color,// Hover Background
                $sub-color:$reverse-color,// Submenu Color
                $sub-bg:$gray-color,// Submenu Background
                $sub-hvr-bg:$dark-color,// Submenu Hover Background
                $sub-hvr-color:$reverse-color// Submenu Hover Color
            );
        }
    }
    /*==== Primary Theme ====*/
    &.primary {
        background-color:$primary-color;
        border: 0 none;
        .navigation-menu {
            @include navigation-custom-theme (
                $color:$reverse-color,// Text Color
                $hvr-color:$reverse-color,// Hover Color
                $hvr-bg:$dark-color,// Hover Background
                $sub-color:$reverse-color,// Submenu Color
                $sub-bg:$dark-color,// Submenu Background
                $sub-hvr-bg:$primary-color,// Submenu Hover Background
                $sub-hvr-color:$reverse-color// Submenu Hover Color
            );
        }
    }
    /*==== Black Theme ====*/
    &.dark {
        background-color:$black-color;
        border: 0 none;
        .navigation-menu {
            @include navigation-custom-theme (
                $color:$reverse-color,// Text Color
                $hvr-color:$reverse-color,// Hover Color
                $hvr-bg:$primary-color,// Hover Background
                $sub-color:$reverse-color,// Submenu Color
                $sub-bg:$primary-color,// Submenu Background
                $sub-hvr-bg:$dark-color,// Submenu Hover Background
                $sub-hvr-color:$reverse-color// Submenu Hover Color
            );
        }
    }
}

/*======== Nested Menus ========*/
.nested-menu {
    background:$reverse-color;
    $border:1px solid rgba(0,0,0,0.10);
    border:$border;
    //==== Title ====//
    .title {
        margin: 0;
        padding:0 25px;
        font-size:0.9375rem;
        font-weight: $medium-weight;
        background: rgba(0,0,0,0.03);
        border-bottom: $border;
        line-height: 52px;
        text-transform: uppercase;
        color:$primary-color;
    }
    //==== Menu ====//
    ul {
        @extend %reset;
        li {
            @extend %fast-motion;
            //=== List item Link ===//
            a {
                color:inherit;
                font-weight: inherit;
                font-family: inherit;
                @extend %fast-motion;
            }

            &:not(.active) > ul {display: none;}

            ul li::before {
                content: '-';
                padding-#{$directionReverse}: 5px;
            }

            .submenu::before{float: $directionReverse;}
        }
    }

    > ul{padding: 0.9375rem 0;}

    @include nested-menu (
        $height:2.188rem,// Height
        $font-size:0.9375rem,// Font-size
        $font-weight:$normal-weight,// Font Weight
        $color:$black-color,// Text Color
        $hvr-color:$primary-color,// Hover Color
        $hvr-bg:transparent,// Hover Background
        $space-size:1.563rem, // Gutter Size
        // submenu
        $sub-color:$black-color,// Submenu Color
        $sub-bg:rgba(0,0,0,0.05),// Submenu Background
        $sub-font-size:0.875rem,// Submenu Font-size
        $sub-height:2rem,// Submenu Height
        $sub-hvr-bg:rgba(0,0,0,0.05),// Submenu Hover Background
        $sub-hvr-color:$black-color// Submenu Hover Color
    );
    //==== Primary Theme ====//
    &.primary {
        background: $primary-color;
        .title{color:$reverse-color;}
        @include nested-menu (
            $color:$reverse-color, // Text Color
            $hvr-color:$reverse-color, // Hover Color
            // submenu
            $sub-color:$reverse-color, // Submenu Color
            $sub-hvr-color:$reverse-color // Submenu Hover Color
        );
    }

    //==== Dark Theme ====//
    &.dark {
        background: #3a3a3a;
        .title{color:$reverse-color;}
        @include nested-menu (
            $color:$reverse-color, // Text Color
            $hvr-color:$reverse-color, // Hover Color
            // submenu
            $sub-color:$reverse-color, // Submenu Color
            $sub-hvr-color:$reverse-color // Submenu Hover Color
        );
    }

    //==== Gray Theme ====//
    &.gray {
        background: #eaebec;
        .title{color:$black-color;}
        @include nested-menu (
            $color:rgba(0,0,0,0.75), // Text Color
            $hvr-color:$black-color, // Hover Color
            // submenu
            $sub-color:$black-color, // Submenu Color
            $sub-hvr-color:$black-color // Submenu Hover Color
        );
    }
}