[data-icon]:before {
    font-family: "tornado-icons" !important;
    content: attr(data-icon);
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    display: inline-block;
}

[class^="ti-"]:before,[class*=" ti-"]:before {
    font-family: tornado-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: middle;
    display: inline-block;
}

/*===== Baisc icons =====*/
@import 'icons/Baisc';

/*===== Arrows icons =====*/
@import 'icons/Arrows';

/*===== Business icons =====*/
@import 'icons/Business';

/*===== Connection icons =====*/
@import 'icons/Connection';

/*===== Device icons =====*/
@import 'icons/Device';

/*===== eCommerce icons =====*/
@import 'icons/eCommerce';

/*===== Editor icons =====*/
@import 'icons/Editor';

/*===== Files icons =====*/
@import 'icons/Files';

/*===== Multimedia icons =====*/
@import 'icons/Multimedia';

/*===== Others icons =====*/
@import 'icons/Others';

/*===== Social icons =====*/
@import 'icons/Brands';

/*===== Technical icons =====*/
@import 'icons/Technical';