//========== Colors Variables Sass Render ==========//
$primary-color:var(--primary-color);
$primary-color-hover:var(--primary-color-hover);
$secondary-color:var(--secondary-color);
$secondary-color-hover:var(--secondary-color-hover);
$reverse-color:var(--reverse-color);
$reverse-color-dark:var(--reverse-color-dark);
$light-color:var(--light-color);
$black-color:var(--black-color);
$typo-color:var(--typo-color);
//=== Assets text colors ====//
$success-color:#22b544;
$danger-color:#e24c4c;
$warning-color:#f4bb0e;
$info-color:#17c0db;
$gray-color:#868e96;
$dark-color:#343a40;
//=== Assets backgrounds ====//
$success-bg:#c1eecc;
$danger-bg:#fbbbbb;
$warning-bg:#ffdd75;
$info-bg:#a6eaf5;
$gray-bg:#d9dde1;
$dark-bg:#343a40;
//========== Typography ==========//
$primary-font:'Helvetica'; // font family for Head's and Titles
$secondary-font:'Helvetica'; // font family for Paragraph and Small Text
$font-icon:"tornado-icons"; // icons Font Family
/*======== Editor ========*/
.wp-block,.components-panel__body {font-family: $secondary-font;}
.editor-post-taxonomies__hierarchical-terms-choice {
    input,label {display: inline-block;vertical-align: middle;margin-bottom: 5px;}
}
.editor-inner-blocks {
    margin: auto;
    font-family: $secondary-font;
}

.rtl h1,.rtl h2,.rtl h3,.rtl h4,.rtl h5,.rtl h6,h1,
h2,h3,h4,h5,h6 {
    font-family: $primary-font;
}

.edit-post-layout {
    h1,h2,h3{color:inherit;}
}

// .editor-block-list__layout {
//     padding-left: 100px;
//     padding-right: 10px;
// }

// .rtl .editor-block-list__layout {
//     padding-right: 100px;
//     padding-left: 10px;
// }

.media-uploader-control{margin-bottom: 15px;}

/*======== Editor Page Head ========*/
.edit-post-visual-editor{
    padding-top: 0;
    .editor-post-title {
        background:$gray-bg;
        color: $dark-bg;
        padding-bottom: 25px;
        .editor-post-title__input {
            color:$dark-bg;
            font-family: $primary-font;
            font-size:1.4rem;
            height: 50px;
            width:100%;
        }
        .editor-post-title__block{width: 100%;max-width: none;}
    }
}
/*======== Outer Panel Padding ========*/
.editor-block-list__layout {
    .components-panel__body.is-opened{padding: 0;}
    .editor-block-list__block {
        /*======== Drag/Drop Area Fix ========*/
        .editor-block-drop-zone {
            top: -15px;
            bottom: -15px;
            margin: 0 14px;
        }
        /*======== Editable Block Container ========*/
        .editor-block-list__block-edit{
            margin-top: 1px;
            margin-bottom: 1px;
            &::before{
                top:0;
                bottom: 0;
            }
        }
        /*======== Show the Mover Control ========*/
        > .editor-block-mover {
            display: block;
            opacity: 1;
        }
        /*======== Insertor Point ========*/
        > .editor-block-list__insertion-point {
            display: block;
            opacity: 1;
            text-align: center;
            z-index: 100;
            margin-top: 0;
        }
        /*======== Show Insertor Point ========*/
        &:hover {
            > .editor-block-list__insertion-point .editor-block-list__insertion-point-inserter {
                display: block;
                opacity: 1;
                .editor-inserter__toggle {
                    opacity: 1;
                    border: 1px solid rgba(0,0,0,0.15);
                    padding:7px;
                }
            }
        }
    }
}

.editor-block-list__insertion-point-inserter,.editor-block-list__block[data-align="full"] > .editor-block-list__insertion-point {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

.edit-post-layout:not(.has-fixed-toolbar) .is-focused > .editor-block-list__insertion-point > .editor-block-list__insertion-point-inserter,
.edit-post-layout:not(.has-fixed-toolbar) .is-selected > .editor-block-list__insertion-point > .editor-block-list__insertion-point-inserter {
    opacity: 0;
}
/*======== Mover Buttons ========*/
.editor-block-mover__control,.editor-block-list__layout .editor-block-list__layout .editor-block-mover__control {
    background: $danger-color;
    height: 32px;
    border:0 none;
    color:#FFF;
    margin-top: 5px;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 0 #e2e4e7;
            box-shadow: inset 0 0 0 0 #e2e4e7;
    &[aria-disabled="true"]{display: none;}
}

.editor-block-list__layout  {
    .editor-block-mover__control, .editor-block-mover__control-drag-handle:not(:disabled):not([aria-disabled="true"]):not(.is-default),
    .editor-block-list__layout .editor-block-list__layout .editor-block-mover__control-drag-handle:not(:disabled):not([aria-disabled="true"]):not(.is-default) {
        background: $danger-color;
        -webkit-box-shadow: inset 0 0 0 0 #e2e4e7;
                box-shadow: inset 0 0 0 0 #e2e4e7;
    }
}

.editor-block-mover__control, .editor-block-mover__control-drag-handle:not(:disabled):not([aria-disabled="true"]):not(.is-default),
.editor-block-list__layout .editor-block-list__layout .editor-block-mover__control-drag-handle:not(:disabled):not([aria-disabled="true"]):not(.is-default) {
    background: $danger-color;
    -webkit-box-shadow: inset 0 0 0 0 #e2e4e7;
        box-shadow: inset 0 0 0 0 #e2e4e7;
}

/*======== Toolbar ========*/
.editor-block-contextual-toolbar .editor-block-toolbar {
    left: auto;
    right:0;
    width: auto;
    top:15px;
    .components-popover:not(.is-mobile).is-right .components-popover__content {
        right: 100%;
        left: auto;
        margin-right: -24px
    }
}

.edit-post-visual-editor .editor-block-list__block[data-align="full"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
    float: right;
    width: auto;
}

.editor-block-list__block .editor-block-contextual-toolbar {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
}

.rtl {
    .editor-block-list__block .editor-block-contextual-toolbar {
        left: 0;
        right: auto;
    }
    
    .editor-block-contextual-toolbar .editor-block-toolbar {
        right: auto;
        left:0;
        width: auto;
        .components-popover:not(.is-mobile).is-left .components-popover__content {
            left: 100%;
            right: auto;
            margin-left: -24px
        }
    }

    .edit-post-visual-editor .editor-block-list__block[data-align="full"] > .editor-block-list__block-edit > .editor-block-contextual-toolbar {
        float: left;
    }
}


.editor-block-list__layout .editor-block-list__block[data-align="full"] > .editor-block-mover,
.editor-block-list__layout .editor-block-list__block[data-align="wide"] > .editor-block-mover {
    top:-36px;
    z-index: 101;
}


/*======== Editor Layout ========*/
.edit-post-layout__content {
    /*======== Page Head ========*/
    .editor-post-permalink {
        margin-top: 100px;
        max-width:550px;
        right:auto;
    }
}
/*======== Editor Sidebar ========*/
.edit-post-sidebar {
    /*======== Form Controls ========*/
    input,select {
        padding: 0 15px;
        height: 36px;
        border: 1px solid rgba(0,0,0,.20);
        margin-bottom: 15px;
    }

    textarea {
        height: 90px;
        border: 1px solid rgba(0,0,0,.20);
        line-height: 22px;
        font-size:14px;
    }

    /*======== Checkbox's ========*/
    input[type="checkbox"]{
        width:20px;
        height: 20px;
        padding:0!important;
        display: inline-block;
        vertical-align: middle;
        margin:0;
        margin-bottom: 15px;
        margin-left:10px;
        border: 1px solid rgba(0,0,0,.20)!important;
        text-align: center;
        line-height: 18px;
        &:checked::before {
            margin: -1px;
            color: #fff;
            display: inline-block;
            vertical-align: middle;
        }
    }

    .components-checkbox-control__label{
        display: inline-block!important;
        vertical-align: middle;
        line-height: 20px;
        font-size:13px;
        margin:0;
        margin-bottom: 15px;
        max-width:none;
        position: relative;
        top:-3px;
    }

    /*======== Custom Metaboxes ========*/
    .editor-form {
        padding-top:15px;
        input:not([type="checkbox"]),textarea,select {
            display: block;
            width:100%;
            border: 1px solid rgba(0,0,0,.20);
        }
    }

    .components-base-control__label,.field-label {
        font-size:13px;
        display: block;
        margin:0;
        line-height: 22px;
        max-width:none;
        margin-bottom: 10px;
        font-family: $primary-font;
    }
    
    /*======== Image Preview ========*/
    .components-responsive-wrapper {
        img{
            max-width:100%;
            max-height: 100%;
            position: absolute;
            top:50%;
            left:50%;
            bottom: auto;
            right: auto;
            -webkit-transform: translate(-50%,-50%);
                    transform: translate(-50%,-50%);
        }
    }

    .components-panel__body{
        &.is-opened .components-panel__body-title {
            border-bottom: 1px solid #e2e4e7;
            margin-bottom: 15px;
        }
    }
} 
/*======== Editor Panels ========*/
.editor-writing-flow {
    .components-panel{
        background:transparent;
        border:0 none;
        .components-panel__body{
            .components-panel__body-title{
                background:$primary-color;
                font-size: 15px;
                font-weight: 700;
                font-family:$primary-font;
                color: #FFF;
                margin-bottom: 30px;
                button {
                    &:focus:enabled{background:transparent;color:#FFF;}
                    font-size: 15px;
                    font-weight: 700;
                    font-family:$primary-font;
                    color: #FFF;
                    svg{fill: #FFF;}
                    &[aria-expanded="false"]{
                        background: $gray-color;
                        color:rgba(0,0,0,.5);
                        svg{ color:rgba(0,0,0,.5); }
                    }
                }
            }

            &.is-opened > .components-panel__body-title{
                margin: 0;
            }
        }
    }
}

.editor-block-settings-menu__popover .components-popover .components-popover__content{
    right: 100%!important;
    left: auto!important;
    margin-right:-24px!important;
    margin-left: auto!important;
}

.rtl {
    select,keygen{
        &.components-select-control__input{
            background:#FFF url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48">\
                <path fill="rgba(0,0,0,0.5)" d="M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z"/><path d="M0-.75h48v48H0z" fill="none"/>\
            </svg>') no-repeat left 10px center !important;
        }
    }
    
    .editor-block-settings-menu__popover .components-popover .components-popover__content{
        left: 100%!important;
        right: auto!important;
        margin-left:-24px!important;
        margin-right: auto!important;
    }
}

select,keygen{
    &.components-select-control__input{
        background:#FFF url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 48 48">\
            <path fill="rgba(0,0,0,0.5)" d="M14.83 16.42L24 25.59l9.17-9.17L36 19.25l-12 12-12-12z"/><path d="M0-.75h48v48H0z" fill="none"/>\
        </svg>') no-repeat right 10px center !important;
    }
}
/*======== Design Fix ========*/
.wow {visibility: visible!important;}
.section-head .editor-rich-text__tinymce{margin: 0!important;}
.wp-block.editor-block-list__block.is-selected {z-index: 100;}

.modal-box.cta-modal {
    .editor-block-list__layout .editor-block-list__block{padding:0;}
    .editor-block-list__block-edit{margin: 0;}
    .wp-block {width:calc(100% - 28px);}
}

.wp-block{
    max-width: none;
    &[data-type*="paragraph"] {
        max-width: none;
        width:100%;
        padding:0 30px;
        margin-bottom: 15px;
    }
    &[data-align="wide"] { max-width:1170px; }
}
/*======== Grid System Hack ========*/
.row {
    > .editor-inner-blocks {
        margin: 0;
        width:100%;
        > .editor-block-list__layout {
            margin: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            padding-left: 0;
            padding-right: 15px;
            > .wp-block {
                &[class*="box-"], &[class*="col-"], &.editor-block-list__block,&.editor-block-list__block[data-align="full"] {
                    -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                            flex-grow: 1;
                    padding-right: 6;
                    padding-left:49px;
                    > .editor-block-list__block-edit{
                        margin-right: -5px;
                        margin-left: -30px;
                    }
                    margin: 0;
                    [class*="box-"], [class*="col-"]{
                        width:100%!important;
                        padding-right: 0!important;
                        padding-left: 0!important;
                    }
                }
            }
        }
    }
}

.rtl {
    .row {
        > .editor-inner-blocks {
            > .editor-block-list__layout {
                padding-right: 0;
                padding-left: 15px;
                > .wp-block {
                    &[class*="box-"], &[class*="col-"], &.editor-block-list__block,&.editor-block-list__block[data-align="full"] {
                        padding-left: 6px;
                        padding-right: 49px;
                        > .editor-block-list__block-edit{
                            margin-left: -5px;
                            margin-right: -30px;
                        }
                    }
                }
            }
        }
    }
}

// .row.editor-column-panel > .editor-inner-blocks > .editor-block-list__layout > .wp-block.editor-block-list__block

/*======== Slider Blocks Fix ========*/
.glide-slides > .editor-inner-blocks{width:80%;}
.portfolio-slider,.details-slider {
    margin: 0!important;
    overflow: visible;
    padding-top:50px;
    .wp-block{width:100%;max-width: none!important;}
    .glide-controls{display: none;}
    .glide-track{overflow: visible;}
    .glide-slides{
        overflow: visible;
        > .editor-inner-blocks{width:90%;}
        .glide-slide .components-panel__body.is-opened{margin-top:30px;}
    }
}

img {
    min-width:32px;
    min-height: 32px;
}